<!-- Header-->
<header class="py-5 bg-image-full" style="background-image: url('/assets/img/cover/meni.jpg')">
  <div class="text-center my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Dostavljači</h1>
      <p class="lead fw-normal text-white mb-0">Upravljanje dostavljačima</p>
    </div>
  </div>
</header>
<section class="page-section bg-light py-5">
  <div  style="text-align: center">
    <button class="btn btn-outline-dark flex-shrink-0 mb-2" type="button" routerLink="/novi-dostavljac">
      <i class="bi bi-plus-circle-fill"></i>
      Dodaj novog dostavljača
    </button>
  </div>

  <div    class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div  *ngFor="let dostavljac of dostavljaci"class="animate__animated animate__fadeIn col mb-5"><!--*ngFor="let stavka of meniStavke"-->
        <div  class="card h-100">

          <!-- Product image-->
          <img class="card-img-top" src="/assets/img/cover/meni.jpg" src="{{dostavljac.slika}}" alt="Nije učitana slika" /><!--src="{{}}"-->
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h6 style="font-size: larger"class="fw-bolder">{{dostavljac.ime}}</h6>
              <h6 style="font-size: larger" class="fw-bolder">{{dostavljac.prezime}}</h6>
              <p class="text-muted">{{dostavljac.email}}</p>
              <p class="text-muted">Korisnicko ime: {{dostavljac.username}}</p>
              <p class="text-muted">Broj obavljenih narudžbi: {{dostavljac.dostavljeneNarudzbe}}</p>



              <i  class="bi bi-pencil-square"  style="margin-left: 10px" (click)="posaljiPodatke(dostavljac.id) " > </i>
              <i  class="bi bi-trash"  style="margin-left: 10px"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


