<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Dobro došli u</div>
    <div class="masthead-heading text-uppercase">eRestoran</div>
    <a class="btn btn-primary btn-xl text-uppercase" [routerLink] = "['/home-page']"  fragment="rezervacija">Rezervišite sto</a>
  </div>
</header>
<!-- Posebna ponuda -->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Posebna ponuda</h2>
      <h3 class="section-subheading text-muted">Ovdje možete pogledati kratki pregled naših najboljih specijaliteta</h3>
    </div>
    <div class="row">
      <div *ngFor = "let stavka of posebnaPonuda" class="animate__animated animate__fadeIn col-lg-4 col-sm-6 mb-4">
        <!-- stavka posebne ponude -->
        <div class="portfolio-item">
          <a class="portfolio-link">
            <img class="img-fluid" src="{{stavka.slika}}" alt="Nije učitana slika" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{stavka.naziv}}</div>
            <div class="portfolio-caption-subheading text-muted">{{stavka.opis}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Rezervacija-->

<section id="rezervacija" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Rezervišite sto</h2>
      <h3 class="section-subheading text-muted">Popunite sljedeću formu kako biste obavili rezervaciju</h3>
    </div>
    <form>
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <!-- Name input-->
            <input class="form-control" id="name" type="text" placeholder="Ime *"/>
            <!--
            <div class="invalid-feedback">A name is required.</div> -->
          </div>
          <div class="form-group">
            <!-- Email address input-->
            <input class="form-control" id="email" type="email" placeholder="Email *"/>
            <!--
            <div class="invalid-feedback">An email is required.</div>
            <div class="invalid-feedback">Email is not valid.</div>-->
          </div>
          <div class="form-group mb-md-0">
            <!-- Phone number input-->
            <input class="form-control" id="phone" type="tel" placeholder="Broj telefona *"/>
            <!--
            <div class="invalid-feedback">A phone number is required.</div>-->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Message input-->
            <textarea class="form-control" id="message" placeholder="Poruka *"></textarea>
            <!--<div class="invalid-feedback">A message is required.</div>-->
          </div>
        </div>
      </div>
      <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button></div>
    </form>
  </div>
</section>
