<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Dobro došli u</div>
    <div class="masthead-heading text-uppercase">eRestoran</div>
    <a class="btn btn-primary btn-xl text-uppercase" [routerLink] = "['/home-page']"  fragment="kontakt">O nama</a>
  </div>
</header>
<!-- Posebna ponuda -->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Posebna ponuda</h2>
      <h3 class="section-subheading text-muted">Ovdje možete pogledati kratki pregled naših najboljih specijaliteta</h3>
    </div>
    <div class="row">
      <div *ngFor = "let stavka of posebnaPonuda" class="animate__animated animate__fadeIn col-lg-4 col-sm-6 mb-4">
        <!-- stavka posebne ponude -->
        <div class="portfolio-item">
          <a class="portfolio-link">
            <img class="img-fluid" src="{{stavka.slika}}" alt="Nije učitana slika" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{stavka.naziv}}</div>
            <div class="portfolio-caption-subheading text-muted">{{stavka.opis}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Osnovni podaci o restoranu-->

<section id="kontakt" class="page-section">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">O nama</h2>

        <p  class="section-subheading text-muted fw-bold">Lokacija: </p>
        <p  class="section-subheading text-white"> Vrbanja 1, Sarajevo 71000</p>
        <p  class="section-subheading text-muted fw-bold">Radno vrijeme: </p>
        <p  class="section-subheading text-white"> pon-sub: 08:00- 23:00</p>
        <p  class="section-subheading text-white"> ned: 08:00- 20:00</p>
      <p  class="section-subheading text-muted fw-bold">Kontakti: </p>
      <p  class="section-subheading text-white">tel: +38733/123-456, tel: +38733/111-222</p>





    </div>
  </div>
</section>
