<header class="masthead-kupon" style="padding-top: 6rem; background-image: url('/assets/img/moji-podaci.jpg')">
  <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="animate__animated animate__pulse col col-xl-6">
          <div class="card" style="border: none; border-radius: 0.1rem;">
            <div class="row g-0">
              <div class="col d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form>

                    <h3 class="display-6 fw-bolder">Moji podaci</h3>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Ime</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="korisnik.ime" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Prezime</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="korisnik.prezime" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="korisnik.email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Broj telefona</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="korisnik.brojTelefona" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Adresa stanovanja</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="korisnik.adresaStanovanja" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Korisničko ime</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Korisnicko ime" [(ngModel)]="korisnik.korisnickoIme" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Lozinka</span>
                      </div>
                      <input [type]="fieldText ? 'text' : 'password'" class="form-control" placeholder="Lozinka" [(ngModel)]="korisnik.lozinka" [ngModelOptions]="{standalone: true}">

                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="bi" [ngClass]="{'bi-eye-slash-fill': !fieldText,'bi-eye-fill': fieldText}" (click)="prikaziSakrij()"></i>
                        </span>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Opstina</span>
                      </div>
                      <select class="form-control mb-3" [(ngModel)]="korisnik.opstinaId"  [ngModelOptions]="{standalone: true}">
                        <option *ngFor = "let opstina of opstine" [value]=opstina.id>{{opstina.naziv}}</option>
                      </select>
                    </div>

                    <button class="btn btn-dark flex-shrink-0"> <i class="bi bi-archive-fill"></i> Ažuriraj podatke</button>



                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>
