<header class="py-5 bg-image-full" style="background-image: url('/assets/img/cover/nova-stavka.jpg')">
  <div class="text-center my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Evidencija novog zaposlenika</h1>
    </div>
  </div>
</header>
<!-- Product section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 my-5 mt-2">
    <div style="text-align: left">
      <button class="btn btn-outline-dark flex-shrink-0 mb-2" type="button" routerLink="/zaposlenik">
        <i class="bi bi-arrow-bar-left"></i>
        Nazad
      </button>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img id="preview-slika" class="card-img-top mb-5 mb-md-0" alt="Prostor za fotografiju"/>
        <div  class="d-flex">
          <input class="btn btn-outline-dark flex-shrink-0" id="fajl-input" accept="image/*" type="file" (change)="generisiPreview()"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="small mb-1">Unesite podatke o novom zaposleniku</div>
        <h3 class="display-5 fw-bolder">Novi zaposlenik</h3>
        <div class="fs-6 mb-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Ime</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="noviZaposlenik.ime">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Prezime</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="noviZaposlenik.prezime">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Email</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="noviZaposlenik.email">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Korisnicko ime</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="noviZaposlenik.username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Lozinka</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="noviZaposlenik.password">
          </div>

        <div class="d-flex">
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="posaljiPodatke()">
            <i class="bi bi-plus-circle-fill"></i>
            Dodaj zaposlenika
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
