<header class="py-5 bg-image-full" style="background-image: url('/assets/img/cover/omiljene-stavke.jpg')">
  <div class="text-center my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Moja najdraža jela</h1>
      <p class="lead fw-normal text-white mb-0">Sve Vaše omiljene stavke menija</p>
    </div>
  </div>
</header>

<section class="animate__animated animate__fadeIn page-section bg-light py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="animate__animated animate__fadeIn col mb-5">
        <div class="card h-100">
          <!-- Sale badge-->
          <div  class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Izdvojeno</div>
          <!-- Product image-->
          <img class="card-img-top" src="..." alt="Nije učitana slika" />
          <!-- Product details-->
          <div class="card-body p-4" style="padding-bottom: 5px !important;">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">Naziv</h5>
              <span class="text-muted">Opis</span>
              <br/>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through"> KM </span>
              <span >snizeno KM</span>
              <span >normalno KM</span>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center" style="border: none"><a class="btn btn-outline-dark mt-auto">Dodaj u korpu</a></li>
            <li class="list-group-item text-center" style="border: none"><a class="btn btn-outline-dark mt-auto"><i class="bi bi-trash-fill"></i>  Ukloni iz omiljenog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

