<!-- Navigation-->
<nav *ngIf="uloga == 'Korisnik'" class="mainNav navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand">eRestoran</a>
    <button style="color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" routerLink="home-page">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="meni">Meni</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posebna-ponuda">Posebna ponuda</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Rezervacija</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Omiljeno</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="omiljene-stavke">Najdraže stavke</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Najdraže narudžbe</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item btn btn-outline-light" routerLink="narudzba">
          <i class="bi-cart-fill me-1"></i>
          Korpa
          <span class="badge bg-light text-black ms-1 rounded-pill" id="kolicina">0</span>
        </li>
        <li class="nav-item">
        <div class="dropdown">
          <button class=" btn btn-outline-light dropdown-toggle" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-lines-fill"></i>
            Moj profil
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="" (click)="odjava()">
              <i class="bi bi-door-closed-fill"></i>
              Odjavi se
            </a>
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav *ngIf="uloga == 'Gost'" class="mainNav navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand">eRestoran</a>
    <button style="color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsiveGost">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" routerLink="home-page" >Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="meni">Meni</a></li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item btn btn-outline-light" routerLink="login">
          <i class="bi bi-box-arrow-in-right"></i>
          Prijava
        </li>
        <li class="nav-item btn btn-outline-light" routerLink="registracija">
          <i class="bi bi-person-plus-fill"></i>
          Registracija
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav *ngIf="uloga == 'Admin'" class="mainNav navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand">eRestoran</a>
    <button style="color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsiveAdmin">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" routerLink="home-page">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="meni">Meni</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="posebna-ponuda">Posebna ponuda</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="kupon">Kuponi</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="zaposlenik">Zaposlenici</a></li>
        <li class="nav-item"><a class="nav-link" >Dobavljači</a></li>
      </ul>
      <ul class="navbar-nav d-flex">
        <a class="nav-item btn btn-outline-light" href="" (click)="odjava()">
           <i class="bi bi-door-closed-fill"></i>
          Odjava
        </a>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="footer py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start"></div>
      <div class="col-lg-4 my-3 my-lg-0">
        Copyright &copy; eRestoran 2021
      </div>
      <div class="col-lg-4 text-lg-end">
      </div>
    </div>
  </div>
</footer>
