<!-- Navigation-->
<nav class="mainNav navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand">eRestoran</a>
    <button style="color:white" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars ms-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" routerLink="home-page" (click)="clicked('Home')" [ngClass]="this.trenutnaSelekcija == 'Home' ? 'active' : ''">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="meni" (click)="clicked('Meni')" [ngClass]="this.trenutnaSelekcija == 'Meni' ? 'active' : ''">Meni</a></li>
        <li *ngIf="loginInformacije.isPermisijaKorisnik || loginInformacije.isPermisijaAdministrator" class="nav-item"><a class="nav-link" routerLink="posebna-ponuda" (click)="clicked('PP')" [ngClass]="this.trenutnaSelekcija == 'PP' ? 'active' : ''">Posebna ponuda</a></li>
        <li *ngIf="loginInformacije.isPermisijaKorisnik" class="nav-item"><a class="nav-link" href="#"  routerLink="rezervacija" (click)="clicked('Rezervacija')" [ngClass]="this.trenutnaSelekcija == 'Rezervacija' ? 'active' : ''">Rezervacija</a></li>
        <li *ngIf="loginInformacije.isPermisijaAdministrator" class="nav-item"><a class="nav-link" routerLink="kupon" (click)="clicked('Kuponi')" [ngClass]="this.trenutnaSelekcija == 'Kuponi' ? 'active' : ''">Kuponi</a></li>
        <li *ngIf="loginInformacije.isPermisijaAdministrator" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="clicked('Osoblje')" [ngClass]="this.trenutnaSelekcija == 'Osoblje' ? 'active' : ''">Osoblje</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
            <li><a class="dropdown-item" href="#" routerLink="zaposlenik">Zaposlenici</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" routerLink="dostavljac">Dostavljači</a></li>
          </ul>
        </li>
        <li *ngIf="loginInformacije.isPermisijaAdministrator" class="nav-item"><a class="nav-link" routerLink="poslovnica" (click)="clicked('NP')" [ngClass]="this.trenutnaSelekcija == 'NP' ? 'active' : ''">Nova poslovnica</a></li>
        <li *ngIf="loginInformacije.isPermisijaKorisnik" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="clicked('Omiljeno')" [ngClass]="this.trenutnaSelekcija == 'Omiljeno' ? 'active' : ''">Omiljeno</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="omiljene-stavke">Najdraže stavke</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#" routerLink="omiljene-narudzbe">Najdraže narudžbe</a></li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="loginInformacije.isPermisijaKorisnik" class="navbar-nav d-flex">
        <li class="nav-item">
          <div class="dropdown">
            <button class=" btn btn-outline-light dropdown-toggle" role="button" id="dropdownMenuKuponi" data-bs-toggle="dropdown" aria-expanded="false" (click)="preuzmiKupone()">
              <i class="bi bi-bell-fill"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuKuponi">
              <a class="dropdown-item" *ngIf="kuponi == null || kuponi.length == 0">
                Trenutno nemate dostupnih kupona
              </a>
              <a class="dropdown-item" *ngFor="let kupon of kuponi">
                Imate kupon sa {{kupon.popust}} % popusta | {{kupon.kod}}
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item btn btn-outline-light" routerLink="narudzba">
          <i class="bi-cart-fill me-1"></i>
          Korpa
          <span class="badge bg-light text-black ms-1 rounded-pill" id="kolicina">0</span>
        </li>
        <li class="nav-item">
        <div class="dropdown">
          <button class=" btn btn-outline-light dropdown-toggle" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-lines-fill"></i>
            Moj profil
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="" routerLink="moje-narudzbe">
              <i class="bi bi-basket-fill"></i>
              Moje narudžbe
            </a>
            <a class="dropdown-item" href="">
              <i class="bi bi-clock-history"></i>
              Moje rezervacije
            </a>
            <a class="dropdown-item" href="">
              <i class="bi bi-gear-fill"></i>
              Postavke profila
            </a>
            <a class="dropdown-item" href="" (click)="odjava()">
              <i class="bi bi-door-closed-fill"></i>
              Odjavi se
            </a>
          </div>
        </div>
        </li>
      </ul>
      <ul *ngIf="loginInformacije.isPermisijaAdministrator" class="navbar-nav d-flex">
        <a class="nav-item btn btn-outline-light" href="" (click)="odjava()">
          <i class="bi bi-door-closed-fill"></i>
          Odjava
        </a>
      </ul>
      <ul *ngIf="loginInformacije.isPermisijaGost" class="navbar-nav d-flex">
        <li class="nav-item btn btn-outline-light" routerLink="login">
          <i class="bi bi-box-arrow-in-right"></i>
          Prijava
        </li>
        <li class="nav-item btn btn-outline-light" routerLink="registracija">
          <i class="bi bi-person-plus-fill"></i>
          Registracija
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- Footer-->
<footer class="footer py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start"></div>
      <div class="col-lg-4 my-3 my-lg-0">
        Copyright &copy; eRestoran 2021
      </div>
      <div class="col-lg-4 text-lg-end">
      </div>
    </div>
  </div>
</footer>
