<header class="masthead-kupon" style="padding-top: 5rem; background-image: url('/assets/img/omiljene-narudzbe.jpg')">
    <div class="container px-5 my-3">
      <div class="text-center text-white mb-3">
        <h1 class="display-4 fw-bolder">Moje najdraže narudžbe</h1>
        <p class="lead fw-normal text-white mb-0">Sve Vaše omiljene narudžbe</p>
      </div>
      <div class="row gx-5 justify-content-center text-dark">
        <div class="col-lg-6 col-xl-4" style="text-align: left;">
          <div class="card h-100 mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold text-muted">Najdraža narudžba 1</div>
              <div class="mb-3">
                <span class="display-4 fw-bold">50 KM</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Stavka 1 × broj komada
                </li>
              </ul>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                <i class="bi bi-cart-plus-fill"></i>
                Naruči ponovo</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</header>
